<a href="https://colab.research.google.com/github/lstredel/Clase-de-Python/blob/main/Manejo_Date_Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
pd.read_json("inmuebles_disponibles.json")

          id       fecha  lugar_disponible   precio
0        857  2016-01-04             False     None
1        857  2016-01-05             False     None
2        857  2016-01-06             False     None
3        857  2016-01-07             False     None
4        857  2016-01-08             False     None
...      ...         ...               ...      ...
364995  3279  2016-12-29              True  $140.00
364996  3279  2016-12-30              True  $140.00
364997  3279  2016-12-31              True  $140.00
364998  3279  2017-01-01              True  $140.00
364999  3279  2017-01-02             False     None

[365000 rows x 4 columns]

In [4]:
inmuebles_disponibles= pd.read_json("inmuebles_disponibles.json")

eximanr los tipos de datos del df

In [5]:
inmuebles_disponibles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                365000 non-null  int64
 1   fecha             365000 non-null  object
 2   lugar_disponible  365000 non-null  bool
 3   precio            270547 non-null  object
dtypes: bool(1), int64(1), object(2)
memory usage: 11.5+ MB

la columna de fecha no la esta leyendo correctamente y por eso aparece objet.
Debemos cambiarlar con .to_datetime
pd.to_datetime(nombredeldf[nombredelacolumna]

In [7]:
pd.to_datetime(inmuebles_disponibles["fecha"])

0        2016-01-04
1        2016-01-05
2        2016-01-06
3        2016-01-07
4        2016-01-08
            ...
364995   2016-12-29
364996   2016-12-30
364997   2016-12-31
364998   2017-01-01
364999   2017-01-02
Name: fecha, Length: 365000, dtype: datetime64[ns]

In [8]:
inmuebles_disponibles["fecha"]= pd.to_datetime(inmuebles_disponibles["fecha"])

In [9]:
inmuebles_disponibles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                365000 non-null  int64
 1   fecha             365000 non-null  datetime64[ns]
 2   lugar_disponible  365000 non-null  bool
 3   precio            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

In [10]:
inmuebles_disponibles

          id      fecha  lugar_disponible   precio
0        857 2016-01-04             False     None
1        857 2016-01-05             False     None
2        857 2016-01-06             False     None
3        857 2016-01-07             False     None
4        857 2016-01-08             False     None
...      ...        ...               ...      ...
364995  3279 2016-12-29              True  $140.00
364996  3279 2016-12-30              True  $140.00
364997  3279 2016-12-31              True  $140.00
364998  3279 2017-01-01              True  $140.00
364999  3279 2017-01-02             False     None

[365000 rows x 4 columns]

configuracion de la fecha que solo se muestre año mes. para esto utilizamos la funcion .strftime
nombredf[nombrecolumna].dt.strftime("%Y-%m")

In [14]:
inmuebles_disponibles["fecha"].dt.strftime("%Y-%m")

0         2016-01
1         2016-01
2         2016-01
3         2016-01
4         2016-01
           ...
364995    2016-12
364996    2016-12
364997    2016-12
364998    2017-01
364999    2017-01
Name: fecha, Length: 365000, dtype: object

agrupamos por mes, para esto utilizamos la funcion .groupby()
nombredeldf.groupby(nombredf["columna"].dt.strftime("%Y-%m))

In [16]:
inmuebles_disponibles.groupby(inmuebles_disponibles["fecha"].dt.strftime("%Y-%m"))["lugar_disponible"].sum()

fecha
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: lugar_disponible, dtype: int64

In [17]:
Disponibilidad_Fecha=inmuebles_disponibles.groupby(inmuebles_disponibles["fecha"].dt.strftime("%Y-%m"))["lugar_disponible"].sum()

In [18]:
Disponibilidad_Fecha

fecha
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: lugar_disponible, dtype: int64